@media screen and (max-height: 1280px) {
  .inputClass input {
    position: absolute;
    width: 565.23px;
    height: 45px;
    left: calc(50% - 282.615px - 41.38px);
    top: calc(50% - 22.5px - 87.5px);
    background: #FDFFFF;
    font-size: 20px;
    border-radius: 3px;
    border: 3px white;
  }
  .inputClass ::placeholder {
    font-family: "Macondo Swash Caps";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    padding-left: 1rem;
    letter-spacing: 0.15em;
    color: #AFAFAF;
  }
  .inputClass box {
    cursor: pointer;
    position: absolute;
    width: 69.08px;
    height: 45px;
    left: calc(50% - 34.54px + 295.46px);
    top: calc(50% - 22.5px - 85.5px);
    background: rgba(78, 111, 109, 0.66);
    border-radius: 3px;
  }
  .inputClass box p {
    position: relative;
    top: -4px;
    left: 15px;
    font-family: "Lustria";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.09em;
    color: #F4FBFF;
  }
  .inputClass .look {
    position: absolute;
    word-wrap: nowrap;
    width: 163px;
    height: 31px;
    left: calc(50% - 81.5px);
    top: calc(50% - 15.5px - 45.5px);
    font-family: "Lustria";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.15em;
    color: #545454;
  }
  .card {
    position: absolute;
    display: grid;
    left: calc(50% - 104.5px - 580px);
    top: calc(50% - 64px + 70.5px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6rem;
    cursor: pointer;
  }
  .card .card1 card-title {
    position: absolute;
    margin: 1.5rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: #545454;
  }
  .card .card1 card-text {
    position: absolute;
    margin: 2.5rem;
    font-family: "Macondo Swash Caps";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: #355C65;
  }
  .card .card1 card-judge {
    position: absolute;
    top: 1.3rem;
    margin: 2.5rem;
    font-family: "Lustria";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #4E6F6D;
  }
  .card .card1 card-name {
    position: absolute;
    margin: 2.5rem;
    top: 2.8rem;
    font-family: "Macondo Swash Caps";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: #81A2A8;
  }
  .card .card1 card-analyze {
    position: absolute;
    top: 5.8rem;
    padding-left: 3.5rem;
    font-family: "Lustria";
    font-weight: 400;
    font-size: 8px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: right;
    text-align: right;
    letter-spacing: 0.15em;
    color: #999999;
  }
  .card .card1 .btn {
    position: grid;
    object-fit: cover;
    background: #FDFCFF;
    color: #46747E;
    width: 209px;
    height: 100px;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border: 12px solid transparent;
    cursor: pointer;
    border-radius: 15px 0px 0px 15px;
  }
  .card .card1 .btn-like {
    position: absolute;
    object-fit: cover;
    width: 57px;
    height: 124px;
    background: #87CEF6;
    border-radius: 0px 15px 15px 0px;
  }
  .card .card1 i {
    position: relative;
    object-fit: cover;
    top: -3rem;
    left: 1rem;
    font-size: 20px;
    bottom: 8.33%;
  }
  .card .card2 card-title {
    position: absolute;
    margin: 1.5rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: #545454;
  }
  .card .card2 card-text {
    position: absolute;
    margin: 2.5rem;
    font-family: "Macondo Swash Caps";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: #355C65;
  }
  .card .card2 card-judge {
    position: absolute;
    top: 15.3rem;
    margin: 2.5rem;
    font-family: "Lustria";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #4E6F6D;
  }
  .card .card2 card-name {
    position: absolute;
    margin: 2.5rem;
    top: 16.8rem;
    font-family: "Macondo Swash Caps";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: #81A2A8;
  }
  .card .card2 card-analyze {
    position: absolute;
    top: 19.8rem;
    padding-left: 3.5rem;
    font-family: "Lustria";
    font-weight: 400;
    font-size: 8px;
    line-height: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: right;
    text-align: right;
    letter-spacing: 0.15em;
    color: #999999;
  }
  .card .card2 .btn {
    position: grid;
    object-fit: cover;
    background: #FDFCFF;
    color: #46747E;
    width: 209px;
    height: 100px;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border: 12px solid transparent;
    cursor: pointer;
    border-radius: 15px 0px 0px 15px;
  }
  .card .card2 .btn-like {
    position: absolute;
    object-fit: cover;
    width: 57px;
    height: 124px;
    background: #AAE9DA;
    border-radius: 0px 15px 15px 0px;
  }
  .card .card2 i {
    position: relative;
    object-fit: cover;
    font-size: 20px;
    top: -3rem;
    left: 1rem;
    bottom: 8.33%;
  }
}

/*# sourceMappingURL=search.css.map */
